.card{
  cursor: pointer;
  background: linear-gradient(90deg,#ffa253,#ffc145);
  transition: all .5s ease-in-out ;
  -webkit-transition: all .2s ease-in-out ;
  -moz-transition: all .5s ease-in-out ;
  -ms-transition: all .5s ease-in-out ;
  -o-transition: all .5s ease-in-out ;
}
.card:hover{
  transform: translate(0px,-5px);
  -webkit-transform: translate(0px,-5px);
  -moz-transform: translate(0px,-5px);
  -ms-transform: translate(0px,-5px);
  -o-transform: translate(0px,-5px);
}

